body {
        padding-top: 60px;
        padding-bottom: 40px;
        background-color: #F0F4F7;
      }
      
.mainPage{
	margin-left: 260px;
	margin-right: 260px;
	width: 880px;

}
.redFont{
	color: red;
}
.myName{
	font-size: 50px;
	margin-top: 0px;
	margin-bottom: 10px;
}
.myPic{
	width: 150px;
	height: 150px;
}
.eachTitle{
	border-bottom: 3px  solid  #0F8CFF;
	margin-top: 20px;
	font-size: 20px;
	color: #0F8CFF;
}
.fontTitle{
	font-size: 18px;
}
.lineControl{
	line-height: 25px;
	margin-top: 10px;
}
