
body {
	background: #E9E8ED;
}
#audioDiv{
    display:block;
    margin:0px auto;
    position: absolute;
    left:15px;
    top:25px;
    z-index:1;
    width: 9%;
    height: 25%;
}
#showInfo{
    position: absolute;
    left:75px;
    top:210px;
    z-index:1;
    background: #DFADF2;
    display:none;
    font-family: cursive
}

#canvas0{
    display:block;
    margin:0px auto;
    position: absolute;
    left:0px;
    top:0px;
    z-index:-1;
    width: 100%;
    height: 100%;
}

#canvas{
    display:block;
    margin:0px auto;
    position: absolute;
    left:0px;
    top:0px;
    z-index:0;
    background: E9E8ED;
    width: 100%;
    height: 100%;
}
#sheepTalk{
    display:block;
    margin:0px auto;
    position: absolute;
    left:78%;
    top:41%;
    z-index:-1;
    background: E9E8ED;
    
}
#musicS{
    position: absolute;
    top: 50px;
    left: 145px;
    width: 50px;
    height: 50px;
    background-image: url(../src/images/musicS.jpg);
    background-position:0% 0%;
    z-index: -1;
    display: none
}

#musicM{
    position: absolute;
    top: 50px;
    left: 210px;
    width: 80px;
    height: 80px;
    background-image: url(../src/images/musicM.jpg);
    background-position:0% 0%;
    z-index: -1;
    display: none
}

#musicB{
    position: absolute;
    top: 10px;
    left: 300px;
    width: 90px;
    height: 90px;
    background-image: url(../src/images/musicB.jpg);
    background-position:0% 0%;
    z-index: -1;
    display: none
}
#footer {
	width: 700px;
	height: 61px;
	min-height: 61px;
	margin: 0 auto;
	margin-bottom: 20px;
	text-align: center;
	font-size: smaller;
	font-family: Arial, Helvetica, sans-serif;
	color: #625FA1;
        position: absolute;
        top: 85%;
        left: 25%;
        z-index: -2;
}

#footer p {
	padding: 25px 0 20px 0;
}

#sheep{
    position: absolute;
     top: 76%;
    left: 83%;
    width: 17%;
    height: 24%;
}