@charset "utf-8";
/* CSS Document */
body{
	font-family:"仿宋", "Arial Unicode MS", "黑体", "宋体", "楷体", "隶书", "Times New Roman";
	font-size:16px;
	background-repeat:no-repeat;}
*html#container{width:100%;  min-height:1000px; height:auto !important; height:1000px;}
#bg{position:fixed;top:0px;left:0px;z-index:-999;}
.menu{
	width:300px;
	height:35px;
	background-color:#FFF;
	position:absolute;
	top:120px;
	left:180px;
	border-radius:3px;}

.menu td{
	margin-left:10px;
	margin-right:10px;
	border:1px solid;
	border-style: groove;}
	
.menu a{text-decoration:none;}
.menu a:link{color:#000}     /* 未访问的链接 */
.menu a:visited{color:#666}  /* 已访问的链接 */
.menu a:hover{ color:#33C;}    /* 当有鼠标悬停在链接上 */
.menu a:active{color: #909}

.mainTitle1
{	top:170px;
	position:absolute;
	left:80px;}
.mainTitle2{
	top:330px;
	position:absolute;
	left:80px;}
	
.mainContent1{
	top:180px;
	position:absolute;
	left:70px;}
.mainContent2{
	top:340px;
	position:absolute;
	left:70px;}
	
.nowTitle1
{
	top:170px;
	position:absolute;
	left:80px;}
.nowTitle2{
	top:390px;
	position:absolute;
	left:80px;}
	
.nowContent1{
	top:180px;
	position:absolute;
	left:70px;}
.nowContent2{
	top:400px;
	position:absolute;
	left:70px;}
	
.yesterdayTitle1
{
	top:170px;
	position:absolute;
	left:80px;}
.yesterdayTitle2{
	top:290px;
	position:absolute;
	left:80px;}
.yesterdayTitle3{
	top:410px;
	position:absolute;
	left:80px;}
.yesterdayContent1{
	top:180px;
	position:absolute;
	left:70px;}
.yesterdayContent2{
	top:300px;
	position:absolute;
	left:70px;}
.yesterdayContent3{
	top:420px;
	position:absolute;
	left:70px;}	
	
.contactTitle1{
	top:170px;
	position:absolute;
	left:80px;}
.contactTitle2{
	top:330px;
	position:absolute;
	left:80px;}
	
.contactContent1{
	top:180px;
	position:absolute;
	left:70px;}
.contactContent2{
	top:340px;
	position:absolute;
	left:70px;
	}
	
.mainTitle1, .mainTitle2, .nowTitle1, .nowTitle2, .yesterdayTitle1, .yesterdayTitle2, .yesterdayTitle3, .contactTitle1, .contactTitle2{
	background-color:#79BAFA;
	border-radius:10px;
	z-index:100;
	font-size:20px;
	}

.mainContent1, .mainContent2, .nowContent1, .nowContent2, .yesterdayContent1, .yesterdayContent2, .yesterdayContent3, .contactContent1, .contactContent2{
	border-radius:10px;
	border:1px solid #000;
	width:520px;
	padding-top:10px;
	}
.divContent
{
	line-height:120%;}
	
.txtLiu{
	c}