@media screen and (min-width: 970px;) { 
    h1 { 
    font-size:20px;  
    }
    span{
        font-size: 15px;
    } 
    a{
        font-size: 8px;
    }
    .nav a{
        color: black;
        font-weight: 20px;
    }
} 
@media screen and (min-width: 750px;) { 
    h1 { 
        font-size:15px;  
    }
    span{
        font-size: 10px;
    } 
    a{
        font-size: 7px;
    }
    .nav a{
        color: black;
        font-weight: 15px;
    }
}
@media screen and (max-width:750px;) { 
    h1 { 
        font-size:10px; 
    }
    span{
        font-size: 10px;
    } 
    a{
        font-size: 7px;
    }
} 

* {
	margin: 0;
}
html, body {
	height: 100%;
    font-size: 20px;
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -30px; /* 这个 -155px 要跟 .footer 的高度一样 */

}

.navbar{
	padding-top: 20px;
	margin-bottom: 0px;
}


.nav a{
    color: black;
    font-weight: 20px;
}

.container{
    padding: 0 0 0 0 px;
    margin: 0px;

}


footer, .push {
	height: 30px; /* .push 要跟 .footer 的高度一样  */
}
footer{ width:100%;text-align: center;font-size: 15px;} 

.description{
    width: 100%;
    height: 100%;
    color: #FFF;
    position: relative;
}

/* for the home page, left right content*/
.iconImgL, .iconImgR{
    top: 50%;
    position: absolute;
}
.iconImgL{
    left: 10%;
}
.iconImgR{
    right: 10%;
}

.descriptionCont{
    position: absolute;
    width: 40%;
    left: 30%;
    top:50%;
    text-align: center;
}
#descriptionCont h2{
    font-size: 20px;
}

.description span{
    font-size: 15px;
}

.infoHref{
    font-size: 10px;
}

.detailDiv{
    width: 100%;
    padding-top: 10px;
}

.detailDiv h1{
    margin-bottom: 50px;
    margin-top: 50px;
    text-align: center;
}
.detailDiv p{
    font-size: 15px;
}

.detailDiv img{
    width: 90%;
}

.detailDiv .row{
    margin-bottom: 100px;
}


/* for all the tabs*/
.searchBar{
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* for the recommend contend*/
.recommendContent{
    margin-right: 10px;
    
}
.specialTol{
    background-size:cover;
    height: 320px;
    margin-right: 40px;
    margin-top: 30px;
    padding: 0px;
}
.specialH,.specialC{
    width: 100%;
    background: rgba(0, 0, 0, 0.2) !important; /* IE无效，FF有效 */
    background: #000;
    filter: alpha(opacity=30);
    color: #FFF;
    position:absolute;
    left:0;
    bottom:0;
}
.specialTol h1{
    font-size: 20px;
}
.specialTol p{
    font-size: 10px;
}
/*for the load of more recommend*/
.recomLoad{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #000;
}

/* for the search content*/
.searchContent{
    position: absolute;
    background: rgba(255, 255, 255, 1) !important; /* IE无效，FF有效 */
    background: #FFF;
    filter: alpha(opacity=100);
    width: 100%;
    margin-top: 25%;
    border: 1px solid #dedede;
    /* Gecko browsers */
    -moz-border-radius-topleft: 0px;
    -moz-border-radius-topright: 0;
    -moz-border-radius-bottomleft: 10px;
    -moz-border-radius-bottomright: 10px;
     
    /* Webkit browsers */
    -webkit-border-top-left-radius: 0px;
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-left-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
     
    /* W3C syntax */
    border-top-left-radius: 0px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius:  10px;
}
.searchContent label, select{
    font-size: 15px;
}

.searchContent .row{
    margin-top: 20px;
}
.chooseBar{
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
}
.searchTitle{
    background-color:#8BD2C4;
    padding:0;
    height: 50px;
    width: 100%;
    font-size: 25px;
    position: relative;
    text-align: center;
}
.searchTitle span{
    margin-top: 10px;
    left: 50%;
    width: 200px;
    margin-left: -100px;
    position: absolute;
}

/*infomation page*/
.playPic{
    text-align: center;
    display: none;
    background: rgba(241, 241, 241, 0.5) !important; /* IE无效，FF有效 */
    background: #F1F1F1;
    filter: alpha(opacity=50);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    vertical-align:center;
}
.infoCont{
    margin-top: 30px;
}
.artical_title{
    background: rgba(142, 219, 247, 0.3) !important; /* IE无效，FF有效 */
    background: #CAF5FE;
    filter: alpha(opacity=30);
    border-bottom: solid 1px;
}
.artical_title a{
    text-align: right;
    font-size: 14px;
    float: right;
    vertical-align:50%;
    height: 100%;
}

.topic-articledetail {
    padding: 10px 0 15px 0;
    font-size: 14px;
    color: #646464;
    border-bottom: #060 1px dashed;
}
.topic-articlemore {
    color: #646464;
    font-size: 13px;
}
.topic-page-bottom {
    margin: 40px 0 10px 0;
}
.gray12px{color:#8b8989;font-size:12px;}
.txtright{text-align:right}
.detail_right{float:right}
.list-title > a {
    display: inline-block;
    font-size: 15px;
    color: #000;
    text-indent:15px;}
.list-articledetail {
    margin: 0 0 15px 0;
    padding: 0 15px 15px 14px;
    font-size: 14px;
    color: #646464;
    border-bottom: #b9b9b9 1px dashed;
}

.sideBar, .mainInfo{
    margin-left: 20px;
    margin-right: 20px;
}
.sideBar-title{
    background: rgba(142, 219, 247, 0.3) !important; /* IE无效，FF有效 */
    background: #CAF5FE;
    filter: alpha(opacity=30);
    border-bottom: solid 1px;
}
.sideBar-listPaper,.sideBar-listAgency {
    border-bottom: dashed 1px #b9b9b9;
}
.sideBar-listAgency{
    padding-top: 10px;
}
.sideBar-listAgency img{
    width: 100%;
}

/* for contaact page*/
ul.nav-tabs{
        width: 140px;
        margin-top: 20px;
        border-radius: 4px;
        border: 1px solid #ddd;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
    }
    ul.nav-tabs li{
        margin: 0;
        border-top: 1px solid #ddd;
    }
    ul.nav-tabs li:first-child{
        border-top: none;
    }
    ul.nav-tabs li a{
        margin: 0;
        padding: 8px 16px;
        border-radius: 0;
    }
    ul.nav-tabs li.active a, ul.nav-tabs li.active a:hover{
        color: #fff;
        background: #0088cc;
        border: 1px solid #0088cc;
    }
    ul.nav-tabs li:first-child a{
        border-radius: 4px 4px 0 0;
    }
    ul.nav-tabs li:last-child a{
        border-radius: 0 0 4px 4px;
    }
    ul.nav-tabs.affix{
        top: 30px; /* Set the top position of pinned element */
    }
    
/*animation for background*/
.a-fadein{-webkit-animation:1s ease-out backwards;-moz-animation:1s ease-out backwards;-ms-animation:1s ease-out backwards;animation:1s ease-out backwards;}
.a-fadeoutL{-webkit-animation:1s ease-in forwards;-moz-animation:1s ease-in forwards;-ms-animation:1s ease-in forwards;animation:1s ease-in forwards;}
.a-fadeout{-webkit-animation:0.5s ease-in forwards;-moz-animation:0.5s ease-in forwards;-ms-animation:0.5s ease-in forwards;animation:0.5s ease-in forwards;}
.a-fadein{-webkit-animation-name:fadein;-moz-animation-name:fadein;-ms-animation-name:fadein;animation-name:fadein;}
.a-fadeoutL{-webkit-animation-name:fadeoutL;-moz-animation-name:fadeoutL;-ms-animation-name:fadeoutL;animation-name:fadeoutL;}
.a-fadeout{-webkit-animation-name:fadeout;-moz-animation-name:fadeout;-ms-animation-name:fadeout;animation-name:fadeout;}
@-webkit-keyframes fadein{
    0%{opacity:0;}
    100%{opacity:1;}
}
@-moz-keyframes fadein{
    0%{opacity:0;}
    100%{opacity:1;}
}
@-ms-keyframes fadein{
    0%{opacity:0;}
    100%{opacity:1;}
}
@keyframes fadein{
    0%{opacity:0;}
    100%{opacity:1;}
}
/* 淡出-向左 */
@-webkit-keyframes fadeoutL{
    0%{opacity:1;-webkit-transform:translateX(0);}
    100%{opacity:0;-webkit-transform:translateX(-100px);}
}
@-moz-keyframes fadeoutL{
    0%{opacity:1;-moz-transform:translateX(0);}
    100%{opacity:0;-moz-transform:translateX(-100px);}
}
@-ms-keyframes fadeoutL{
    0%{opacity:1;-ms-transform:translateX(0);}
    100%{opacity:0;-ms-transform:translateX(-100px);}
}
@keyframes fadeoutL{
    0%{opacity:1;transform:translateX(0);}
    100%{opacity:0;transform:translateX(-100px);}
}

/* 淡出*/
@-webkit-keyframes fadeout{
    0%{opacity:1;}
    100%{opacity:0;}
}
@-moz-keyframes fadeout{
    0%{opacity:1;}
    100%{opacity:0;}
}
@-ms-keyframes fadeout{
    0%{opacity:1;}
    100%{opacity:0;}
}
@keyframes fadeout{
   0%{opacity:1;}
    100%{opacity:0;}
}
